<h1><%= @mood.title %></h1>

<ul>
  <% @tvshows.each do |tvshow| %>
    <li>
      <%= link_to tvshow.title, tvshow_path(tvshow) %> - $<%= tvshow.price.to_f/100  %>
    </li>
    <% if user_signed_in? %>    
      <%= form_tag "/showlines/#{tvshow.id}" do %>
        <%= submit_tag "Add to Playlist" %>
      <% end %>
    <% end %>
  <% end %>
  
</ul>


 creating a recipe by name and then creating the row in the join model recipe_ingredients with the recipe_id, the ingredient_id, and the description from the form.

  creating a playlist by name and then creating the row in the join model showlines with the playlist_id, the tvshow_id, and the description from the form.


  playlist

  show

  showline

  
####
  create a new playlist

  create a tvshow from the new playlist form, and add tv show attributes from the form

