<a href="#" class="js-next" data-id="<%=@mood.id%>">Next Product</a>
<h1 class="moodTitle"><%= @mood.title %></h1>

<ul class="moodTvshow">
  <% @tvshows.each do |tvshow| %>
    <li>
      <%= link_to tvshow.title, tvshow_path(tvshow) %> - $<%= tvshow.price.to_f/100  %>
    </li>
    <% if user_signed_in? %>    
      <%= form_tag showlines_path(tvshow_id: tvshow) do %>
         <br /> <%= submit_tag "Add to Playlist" %> <br />
      <% end %>
       
    <% end %>
  <% end %>
<% if user_signed_in? %>    
    <br /> <%= link_to "Add a new TV show to this mood", new_mood_tvshow_path(@mood) %>
    <% end %>
  
</ul>

