<a href="#" class="js-next" data-id="<%=@mood.id%>">Next Product</a>
<h1 class="moodTitle"><%= @mood.title %></h1>

<ul class="moodTvshow">
  <% @tvshows.each do |tvshow| %>
    <li>
      <%= link_to tvshow.title, tvshow_path(tvshow) %> - $<%= tvshow.price.to_f/100  %>
    </li>
    
  <% end %>

  <div class="result"></div> 
<% if user_signed_in? %>    
</ul>

<h1>New TV Show</h1>


<%= form_for([@mood, @tvshow], :html => {:id => "blabla"}) do |tvshows_form|%>
    <%= tvshows_form.label :title %>
        <%= tvshows_form.text_field :title %>
    
    <li>
        <%= tvshows_form.label :suspense_level %>
        <%= tvshows_form.number_field :suspense_level %>
      </li>
      <li>
        <%= tvshows_form.label :time_commitment %>
        <%= tvshows_form.number_field :time_commitment %>
      </li>
      <li>
        <%= tvshows_form.label :price %>
        <%= tvshows_form.number_field :price %>   
        
      </li>
      <%= tvshows_form.submit :id => 'mood_tvshow_new' %>
    <% end %>
  </ul>
    

<% end %>
  
</ul>

<!--
<script type="text/javascript" charset="utf-8"> 
  $(function () {
      $('form').submit(function(event) {
            var form = document.getElementById("blabla");
            $.ajax({
               type: ($("input[name='_method']").val() || this.method),
               datatype: 'json',
               url: this.action,
               data: $(this).serialize(), // either JSON or querystring serializing
               success: function(response){
               //$("#tvshow_content").val("");
      //         var $ol = $("div.comments ol")
               form.reset(); 
               $('.result').append('<li>').text(response["title"]);
               location.reload(); 
//            }
              }
//
//     // Send a POST request to the correct place that form would've gone too anyway
//     // along with the actual form data.
//     e.preventDefault();
//   })        
        }); 
               event.preventDefault();
      });
      }); 
  
</script> --> 



