<h2>Playlist Created <%=playlist.created_at.strftime("%c")%></h2>

<% playlist.showlines.each do |showline| %>	
  <p><%= link_to showline.tvshow.title, tvshow_path(showline.tvshow) %> | <%= number_to_currency(to_currency(showline.tvshow.price)) %> | Suspense: <%= showline.tvshow.suspense_level %> | 
  Time Commitment: <%= showline.tvshow.time_commitment %> hours
  </p>  
<% end %>

<p>Order total: <strong><%= number_to_currency(to_currency(playlist.total)) %></strong> </p>

<%= button_to 'Submit', submit_path(playlist) if playlist.status != "submitted" %>
