<%= form_for @playlist do |f| %>
  <h2>Playlists</h2>
   
  <ul>
    <%= f.fields_for :tvshow do |tvshows_form| %>

      <li>
        <%= tvshows_form.label :title %>
        <%= tvshows_form.text_field :title %>
 	    </li>
 	    <li>
        <%= tvshows_form.label :suspense_level %>
        <%= tvshows_form.number_field :suspense_level %>
      </li>
      <li>
        <%= tvshows_form.label :time_commitment %>
        <%= tvshows_form.number_field :time_commitment %>
      </li>
      <li>
        <%= tvshows_form.label :price %>
        <%= tvshows_form.number_field :price %>		        
      </li>
    <% end %>
  </ul>
  	<%= f.submit %>
<% end %>


 