<h2>Playlister Stats</h2>
<ul>
<li>User Count <%= @user_count %> </li>
<li>Mood Count <%= @mood_count %> </li>
<li>TV Show Count <%= @tvshow_count %> </li>

<li>User with Most Happiness: <%= @max_user_happiness_name %> </li>
<li>Top User's Happiness' Happiness Level: <%= @max_user_happiness_level %> </li>

<li>Least Expensive TV show: <%= @least_expensive_title %>
<li>Least Expensive TV show price: $<%=  @least_expensive_length.to_f/100  %>
 

