    <ul>
  		 <li> <%= link_to "Playlister Home", store_path %> </li>
  		 
       	<% if current_user && current_user.current_playlist %>
       		<li> <%= link_to "Playlist", playlist_path(current_user.current_playlist) %> </li>
       		<li> <%= link_to "All of Your Playlists", user_playlists_path(current_user) %> </li>
  		 	<li> <%= link_to "Your Profile", user_path(current_user) %> </li>
  		<% else %>
  			<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
       	<% end %>
        <%= render 'layouts/nav_links_for_auth' %>
        
    </ul>
