    <ul class="nav navbar-nav">

  		 <li> <%= link_to "PLAYLISTER HOME", store_path %> </li>
       <% if current_user %> 
          <% if current_user.current_playlist %> 
            <li> <%= link_to "Current Playlist", playlist_path(current_user.current_playlist) %> </li>       
          <% end %> 
        
            <li> <%= link_to "Your Profile", user_path(current_user) %> </li>
            <li> <%= link_to "All of Your Playlists", user_playlists_path(current_user) %> </li>
            <li> <%= link_to "Add a New Mood", new_mood_path %> </li>

       	    
        
        
         
        
      <% end %> 
  		
  			
       	
        <%= render 'layouts/nav_links_for_auth' %>
        
    </ul>


